body {

    font-weight: 500;
    background-color: #AA7A82;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    text-align: center;
    background-color: #FFBFCA;
    font-size: 1.8vh;
    font-weight: 500;
    margin: auto;
    width: 22%;
    border-radius: 15px;

}


h1 {
    font-size: 3.5vh;
}

.alphabet {
    font-size: 0.8em;
    display: flex;
    align-content: center;
    margin: 2vh;
    /* padding: 5px; */
    /* background-color: rgb(230, 228, 228); */
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.leMot {
    display: flex;
    flex-direction: row;
}

.leMot span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alphabet {
    width: 55%;
}

input {
    border-radius: 10px;
    border: none;
    margin: 5px;
    height: 6vh;
    width: 6vh;
}

.border {
    margin: 5px;
    width: 5vh;
    height: 5vh;
    border-bottom: solid black 2px;
}

.images {
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}


.images img {
    height: 35vh;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.btn {
    background-color: #FFEFBF;
    padding: 5px;
    height: 6vh;
    font-size: 2.5vh;
    border-radius: 10px;
    border: none;
    width: 15%;
    /* border-bottom: 1px solid; */
    box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.622);
    margin-bottom: 20px;
}